article:hover {
  transform: scale(1.02);
  transition: transform 0.4s ease-in-out;
}
.card__heading {
  font-size: 7rem;
  font-weight: 700;
  margin-bottom: 10rem;
  margin-top: 10rem;
  text-align: center;
}

.grid {
  display: grid;
  padding-bottom: 10rem;
}

@media screen and (min-width: 900px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
  }
}



.projects__div {
  border-radius: 15px;
  box-shadow: 0 0 20px 10px #f3f3f3;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
  margin-top: 2rem;
  padding: 2rem;
  transition: transform 0.3s ease-out;
}

.project__div:hover {
transform: scale(1.01);
}

.projects__block .grid {
padding-bottom: 2rem;
}

.project__card {
  padding-left: 2rem;
  padding-right: 2rem;
}

.project__descriptions {
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.project__image {
  width: 100%;
  max-height: 30vh;
  object-fit: cover;
  border-radius: 10px;
}

.project__link {
  color: #2403fc;
  margin-right: 2rem;
  margin-bottom: 5rem;

}

.project__tech {
    padding-bottom: 2rem;
}

.project__title {
    color: #3c1fe2;
    font-size: 4rem;
    padding-top: 5rem;
    padding-bottom: 2rem;
}

ul {
    list-style: none;
}


