.block__skewed {
    background-color: #2403fc;
    color: #fff;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 4rem;
    clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 0% 100%);
  }

  .banner__tagline {
    color: #b9c3cf;
    font-size: 2rem;
    letter-spacing: 1px;
    margin: 2rem 2rem 5rem;
  }

  .banner__pic {
      border-radius: 50%;
  }

p {
    margin-top: 0;
  }

  .title {
      color: #fff;
  }