.nav__header {
    background: #2403fc;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem;
    align-items: flex-start;
  }
  
  .nav__list {
    width: 100%;
    margin-top: 2rem;
    margin-left: 3rem;
  }
  
  .nav__item {
    padding: 1rem 5rem;
  }
  
  .nav__item > a {
    color: #fff;
    transition: color 0.3s;
  }
  
  .nav__item > a:hover {
    color:  #3aacee;
  }
  
  @media screen and (min-width: 768px) {
    .nav__list {
      width: auto;
      display: flex;
      font-size: 1.6rem;
      max-height: 100%;
    }
}

title {
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
}